@import url("https://fonts.googleapis.com/css2?family=Satisfy");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900");

body {
  margin: 0;
  padding: 0;
  background: #ddd;
  display: flex;
  min-height: 100vh;
}

canvas {
  height: 500px;
  width: 800px;
  background: #CAD4D6;
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.6);
}

#container {
  margin: 0 auto;
  padding: 2rem;
  max-height: calc(100vh - 4rem);
}

.canvasBorder {
  border: 130px solid #C8020B;
  border-radius: 25px;
  box-shadow: 0px 8px 6px rgba(0,0,0,0.75);
}

.headerBorder {
  display: flex;
  justify-content: space-around;
  margin-top: -132px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.headerMain {
  color: #E9C64B;
  font-size: 3rem;
  text-align: center;
  font-family: 'Satisfy', cursive;
}

.headerOuter {
  color: #E9C64B;
  font-size: 1.25rem;
  align-self: center;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 0 3rem;
}